*{
    margin:10px;
    padding:0%;  
}
.header{
    background-color: #333;
    top:0;
    left:0;
    width:80%;
    padding: 20px 10%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    color: #fff;
    
    
}

.logo{
    font-size: 25px;
    color:black;
    text-decoration: none;
    font-weight: 800;
    margin-left: 135px;
    background-color: #333;
    color: #fff;    
}

.tag{
    margin-right:100px;
    font-size: larger;
    font-weight:600;
}
.banner{
    height: 30%;
}

.banner img{
 max-width:100% ;
 height:auto ;
 opacity:0.5;
 
}

.banner-text{
    position: absolute;
    top: 30rem;
    color:#fff;
    padding: 100px;
    margin-left: 105px;
    
}

.banner-text h1{
    font-size: 65px;
    font-weight: bolder;
    color:black;
}

.banner-text p{
    font-size:35px ;
    color:black;
}

.btn{
    font-size:medium;
    font-weight: 400;
    border:3px solid black;
    transition: all 300ms ease;
    border-radius:8px;
    padding:0.2rem; 
    width:9rem;
}

.btn:hover{
    cursor: pointer;
}

.btn:hover{
background: rgb(53,53,53);  
color: white;  
}

.btn:hover{
    background: rgb(0,0,0);
}

.bg{
    background-color: #333;
    margin-left: 30px;
    
}

.info{
    text-align: center;
    color:#fff
}

.para,.foot{
    color: #fff;
    text-align:center;
    font-size: larger;
    background-color: #333;
}

.foot{ 
     margin-left: 30px;
}



